<div class="educacion">
    <h3 class="titulo">EDUCACION</h3>
    <div class="edu-info">
        <div class="info-titulo">
            <h4 class="titulo-sec">Nombre curso | Institucion</h4>
            <h5>Fecha</h5>
        </div>
        <div class="info-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi similique sint temporibus harum eos maiores molestiae laboriosam ratione delectus veniam, eligendi fugiat suscipit asperiores, sequi distinctio exercitationem cupiditate vero? Necessitatibus.</div>
    </div>
    <div class="edu-info">
        <div class="info-titulo">
            <h4 class="titulo-sec">Nombre curso | Institucion</h4>
            <h5>Fecha</h5>
        </div>
        <div class="info-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi similique sint temporibus harum eos maiores molestiae laboriosam ratione delectus veniam, eligendi fugiat suscipit asperiores, sequi distinctio exercitationem cupiditate vero? Necessitatibus.</div>
    </div>
    <div class="edu-info">
        <div class="info-titulo">
            <h4 class="titulo-sec">Nombre curso | Institucion </h4>
            <h5>Fecha</h5>
        </div>
        <div class="info-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi similique sint temporibus harum eos maiores molestiae laboriosam ratione delectus veniam, eligendi fugiat suscipit asperiores, sequi distinctio exercitationem cupiditate vero? Necessitatibus.</div>
    </div>
</div>
