*{
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.icono{
    height: 35px;
    margin: 5px 15px;
}
.login{
    cursor: pointer;
}
