<div class="header">
    <div>
        <img class="icono" src="../../../assets/lg-ap.png">
    </div>
    <div>
        <a href="https://github.com/camicorba" target="_blank"><img class="icono" src="../../../assets/lg-github.png"></a>
        <a href="https://www.linkedin.com/in/camila-corbalan/" target="_blank"><img class="icono" src="../../../assets/lg-linkedin.png"></a>
        <a><img class="icono" src="../../../assets/lg-wa.png"></a>
        <a href="/login"><img class="icono login" src="../../../assets/sesion.png"></a>
    </div>
</div>

