<div class="proyectos">
    <h2>PROYECTOS</h2>
    <div class="card">
        <img class="card-img" src="../../../assets/1.1.png"> 
        <div class="card-txt">
            <h3 class="txt-title">Pagina web - "Cerveza 2 Hermanos"</h3>
            <h4 class="txt-title">Fecha aprox de realizacion</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ex necessitatibus, molestias maxime totam soluta dignissimos nisi consequatur consequuntur, voluptatum nesciunt fugiat deserunt, commodi mollitia veniam veritatis nihil quae quia.</p>
            <div>Skills utilizadas</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img" src="../../../assets/2.1.png"> 
        <div class="card-txt">
            <h3 class="txt-title">Aplicacion interactiva - "Todo App"</h3>
            <h4 class="txt-title">Fecha aprox de realizacion</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ex necessitatibus, molestias maxime totam soluta dignissimos nisi consequatur consequuntur, voluptatum nesciunt fugiat deserunt, commodi mollitia veniam veritatis nihil quae quia.</p>
            <div>Skills utilizadas</div>
        </div>
    </div>
    <div class="card">
        <img class="card-img" src="../../../assets/1.1.png"> 
        <div class="card-txt">
            <h3 class="txt-title">Ecommerce - "Wasabi"</h3>
            <h4 class="txt-title">Fecha aprox de realizacion</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ex necessitatibus, molestias maxime totam soluta dignissimos nisi consequatur consequuntur, voluptatum nesciunt fugiat deserunt, commodi mollitia veniam veritatis nihil quae quia.</p>
            <div>Skills utilizadas</div>
        </div>
    </div>
</div>
