<div class="skill">
    <h3>SKILLS</h3>
    <div class="skills-card">
        <div class="card">
            <!-- [percent]="'skill.progreso" -->
            <circle-progress class="skill-progress"
                [title]="'HTML'"
                [percent]="90"
                [radius]="60"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#242424'"
                [innerStrokeColor]="'#242424'"
                [imageSrc]="'../../../assets/html.png'"
                [showImage]="true"
                [animation]="true"
                [animationDuration]="500"
            ></circle-progress>
            <p>HTML</p>
        </div>
        <div class="card">
            <circle-progress class="skill-progress"
                [title]="'CSS'"
                [percent]="90"
                [radius]="60"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#242424'"
                [innerStrokeColor]="'#242424'"
                [imageSrc]="'../../../assets/css.png'"
                [showImage]="true"
                [animation]="true"
                [animationDuration]="500"
            ></circle-progress>
            <p>CSS</p>
        </div>
        <div class="card">
            <circle-progress class="skill-progress"
                [title]="'JS'"
                [percent]="70"
                [radius]="60"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#242424'"
                [innerStrokeColor]="'#242424'"
                [imageSrc]="'../../../assets/java-script.png'"
                [showImage]="true"
                [animation]="true"
                [animationDuration]="500"
            ></circle-progress>
            <p>JavaScript</p>
        </div>
        <div class="card">
            <circle-progress class="skill-progress"
                [title]="'React'"
                [percent]="60"
                [radius]="60"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#242424'"
                [innerStrokeColor]="'#242424'"
                [imageSrc]="'../../../assets/atom.png'"
                [showImage]="true"
                [animation]="true"
                [animationDuration]="500"
            ></circle-progress>
            <p>React</p>
        </div>
        <div class="card">
            <circle-progress class="skill-progress"
                [title]="'ANGULAR'"
                [percent]="30"
                [radius]="60"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#242424'"
                [innerStrokeColor]="'#242424'"
                [imageSrc]="'../../../assets/angular.png'"
                [showImage]="true"
                [animation]="true"
                [animationDuration]="500"
            ></circle-progress>
            <p>Angular</p>
        </div>
    </div>
</div>