<div class="experiencia">
    <h2 class="titulo">EXPERIENCIA</h2>
    <div class="exp-info">
        <div class="info-titulo">
            <h3 class="titulo-sec">Puesto</h3>
            <p>Fecha</p>
        </div>
        <div class="info-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi similique sint temporibus harum eos maiores molestiae laboriosam ratione delectus veniam, eligendi fugiat suscipit asperiores, sequi distinctio exercitationem cupiditate vero? Necessitatibus.</div>
    </div>
    <div class="exp-info">
        <div class="info-titulo">
            <h3 class="titulo-sec">Puesto</h3>
            <p>Fecha</p>
        </div>
        <div class="info-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi similique sint temporibus harum eos maiores molestiae laboriosam ratione delectus veniam, eligendi fugiat suscipit asperiores, sequi distinctio exercitationem cupiditate vero? Necessitatibus.</div>
    </div>
    <div class="exp-info">
        <div class="info-titulo">
            <h3 class="titulo-sec">Puesto</h3>
            <p>Fecha</p>
        </div>
        <div class="info-texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi similique sint temporibus harum eos maiores molestiae laboriosam ratione delectus veniam, eligendi fugiat suscipit asperiores, sequi distinctio exercitationem cupiditate vero? Necessitatibus.</div>
    </div>
</div>